<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Results - Omnidoxy</title>
    <link rel="stylesheet" href="../css/results.css" />
    <link rel="stylesheet" href="../css/main.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <div class="quote-item">
    <div class="quote-text">
      "Heaven has no rage like love to hatred turned, nor hell a fury like a
      woman scorned."
    </div>
    <div class="quote-author">- William Congreve</p>
  </div>
</html>
